$font--primary		                : "Dosis", "Helvetica Neue", helvetica, arial, sans-serif;
$font--secondary	                : "Oswald", garamond, georgia, serif;

$font-weight--light                 : 300;
$font-weight--normal                : 400;
$font-weight--bold                  : 700;
$font-weight--extra-bold            : 800;

$line-height		                : 1.5;